/*Global styles*/ 
/*Reset CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(14px, 1.5vw, 16px);
}

body {
  background-color: #f6f7f1;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
}

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}
/*End of Reset CSS*/

/*Header*/
header {
  align-items: center;
  background-color: #1e1e1e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 98px;
}

header nav {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0px 20px 0px 7rem;
  width: 100%;
}

header nav picture,
header nav img {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 120px;
  justify-content: center;
  width: 120px;
}

h1 {
  flex-grow: 2;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 2rem;
}

/*Dropdown menu*/
.dropdown-menu {
  display: none;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0.5rem;
}

.menu-toggle span {
  background-color: #fff;
  display: block;
  height: 2px;
  margin: 5px 0;
  transition: 0.3s;
  width: 25px;
}
/*End of dropdown menu*/

nav span {
  flex-shrink: 0;
  font-size: 2.5rem;
  height: 120px;
  text-align: center;
  width: 436px;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-right: 2rem;
}

nav ul li a {
  color: #fff;
}
/*End of Header*/

/*Footer*/
footer {
  background-color: #1e1e1e;
  color: #fff;
  max-width: 100%;
}

#footer-container {
  display: grid;
  grid-template-columns: minmax(0, 154px) minmax(0, 383px) minmax(0, 190px) minmax(0, 473px);
  grid-template-rows: 200px 200px;
  min-height: 400px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#footer-container picture,
#footer-container img {
  grid-area: 1/1/2/2;
  height: 100px;
  margin: 36px auto;
  width: 100px;
}

#footer-container > ul {
  line-height: 1.7;
  list-style: none;
  margin: 42px 0 0 24px;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}

#footer-container nav ul li a,
#footer-container > ul li a {
  color: #fff;
  cursor: pointer;
}

#footer-container pre {
  font-size: 1rem;
  grid-area: 2/1/3/3;
  margin-top: 16px;
  text-align: left;
}

#footer-container nav {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
  grid-template-rows: 0.3fr 31px 31px 0.75fr;
  height: 100%;
  max-width: 190px;
  width: 100%;
}

#footer-container nav p {
  align-self: end;
  font-size: 1.3rem;
  margin: 68px 0 24px;
}

#footer-container nav ul {
  display: flex;
  flex-direction: column;
  width: 190px;
}

#footer-container nav ul li {
  list-style: none;
  padding: 10px 0 0;
}

#footer-container section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  grid-area: 1/4/3/5;
  justify-content: start;
  margin-top: 68px;
  max-width: 473px;
  width: 100%;
}

#footer-container section button {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  height: 32px;
  margin-top: 36px;
  width: 215px;
}

#footer-container section h2 {
  font-size: 2rem;
  text-align: center;
}

#footer-container label {
  display: none;
}

#footer-container input {
  border-radius: 90px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  height: 40px;
  width: 256px;
}

#footer-container input::placeholder {
  color: rgba(0, 0, 0, 0.40);
  font-size: 1rem;
  letter-spacing: 4px;
  text-align: center;
}
/*End of Footer*/

/*Media Queries*/
/*Tablets*/
@media screen and (max-width: 1024px) {
    /*Font size for responsive design*/
  html {
    font-size: clamp(14px, 1.5vw, 15px);
  }

  h1 {
    font-size: clamp(1.8rem, 3vw, 2.8rem);
  }

  p {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  nav span {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
  }
  /*End of font size for responsive design*/

  /*Header*/
  header {
    padding: 10px 50px;
    height: auto;
  }

  header nav {
    padding: 10px 30px;
  }

  header nav img {
    height: 80px;
    width: 80px;
  }

  nav span {
    font-size: 2rem;
    width: auto;
  }

  header nav ul {
    gap: 15px;
  }
  /*End of header*/

  /*Footer*/
  footer {
    padding: 20px 30px;
  }

  #footer-container {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  #footer-container img {
    height: 80px;
    width: 80px;
  }

  #footer-container > ul {
    font-size: 0.9rem;
  }

  #footer-container > ul li {
    padding-bottom: .5rem;
  }

  #footer-container pre {
    font-size: 1.2rem;
  }

  #footer-container nav {
    grid-column: span 2;
    width: 150px;
  }

  #footer-container nav p {
    font-size: 1rem;
    margin: 20px 0;
  }

  #footer-container section {
    align-self: center;
    grid-column: span 2;
    margin: 0 auto;
  }

  #footer-container input {
    width: 90%;
    margin: 10px auto;
  }

  #footer-container section button {
    margin: 20px auto;
  }
  /*End of footer*/  
}
/*End of tablets*/

/*Mobile*/
@media screen and (max-width: 807px) {
  /*header*/
  header {
    background-color: #f6f7f1;
    box-shadow: none;
    padding: 0;
  }

  header nav {
    background-color: #1e1e1e;
    height: 125px;
    padding: 11px 34px;
    padding-top: 60px;
  }

  header nav img {
    height: 40px;
    width: 40px;
  }

  h1 {
    font-size: 1.8rem;
    margin-left: 0;
  }

  nav span {
    display: none;
  }
  
  /*Dropdown menu*/
  .menu-toggle {
    display: block;
    height: 32px;
    margin-top: 1px;
    width: 32px;
  }

  .dropdown-menu {
    align-items: center;
    background-color: #1e1e1e;
    border:3px solid #fff;
    display: none;
    flex-direction: column;
    height: 0;
    margin: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: height 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
    width: 100%;
    z-index: 1000;
  }

  .dropdown-menu.open {
    display: flex;
    height: 932px;
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown-menu.closing {
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
  }

  .dropdown-menu .close-menu {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    height: 27px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 30px;
    z-index: 1001;
  }

  .dropdown-menu .title {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
    margin: 15rem 0 2rem;
    padding-bottom: 1rem;
    text-align: center;
    white-space: nowrap;
    width: 75%;
  }

  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .dropdown-menu ul li {
    border-bottom: 1px solid #ffffff;
    margin: 0 auto;
    padding: 2rem 0 10px;
    width: 60%;
  }

  .dropdown-menu ul li a {
    color: #ffffff;
    display: block;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }

  header nav ul {
    align-items: center;
    background-color: #1e1e1e;
    display: none;
    flex-direction: column;
    left: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
  }

  header nav ul.active {
    display: flex;
  }
  /*End of dropdown menu*/
  /*End of header*/

  /*Footer*/
  footer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #footer-container {
    display: grid;
    font-size: 1rem;
    grid-template-areas:
      "logo"
      "links"
      "code"
      "nav"
      "subscribe";
    grid-template-columns: 1fr;
    grid-template-rows: auto 150px 260px 207px 303px;
    height: 1144px;
    justify-items: center;
    max-width: 100%;
    width: auto;
  }

  #footer-container > * {
    text-align: center;
    width: 100%;
  }

  #footer-container img {
    align-self: center;
    grid-area: logo;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }

  #footer-container > ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    grid-area: links;
    height: 119px;
    list-style: none;
    margin: 0;
    max-width: 335px;
    width: 100%;
  }

  #footer-container pre {
    font-size: 1.2rem;
    grid-area: code;
    line-height: 1.5;
    margin: 0;
    max-width: 430px;
    padding: 0 10px;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
  }

  #footer-container nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    margin: 0;
    max-width: 190px;
    width: 100%;
  }

  #footer-container nav p {
    font-size: 1.4rem;
    margin: 0 auto;
  }

  #footer-container nav ul {
    font-size: 1.2rem;
    width: 100%;
  }

  #footer-container section {
    align-self: start;
    gap: 16px;
    grid-area: subscribe;
    margin: 0;
    max-width: 430px;
    padding: 0 10px;
    width: 100%;
  }

  #footer-container form {
    display: flex;
    flex-direction: column;
  }

  #footer-container section h2 {
    font-size: 32px;
  }

  #footer-container input {
    margin: 0 auto;
    width: 65%;
  }

  #footer-container section button {
    letter-spacing: 2px;
    margin: 24px auto 0;
    width: 183px;
  }
  /*End of footer*/  
}
/*End of mobile*/
