/*Header*/
header section {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}

header > section h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

header section div {
  display: grid;
  grid-template: 1.5fr 0.5fr / 1fr 1.5fr;
}

header p:first-of-type {
  align-self: center;
  font-size: 1.4rem;
  grid-area: 1/1/2/3;
  padding: 0 20px;
  text-align: center;
  text-wrap: wrap;
}

header button {
  align-self: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  grid-area: 2/1/3/2;
  height: 22px;
  justify-self: end;
  width: 108px;
}

header p:last-of-type {
  align-self: center;
  grid-area: 2/2/3/3;
  justify-self: start;
  padding-left: 10px;
}

.dropdown-menu {
  display: none;
}
/*End Header*/

/*Main*/
main {
  margin: 48px auto;
  max-width: 1200px;
  width: 100%;
}

/*First Section*/
main section:first-of-type {
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

main section:first-of-type h2 {
  font-size: 2.5rem;
  padding: 10px 0 16px;
  text-align: center;
}

main section:first-of-type pre {
  font-size: 1.4rem;
  text-align: left;
}
/*End First Section*/

/*Second Section*/
main section:nth-of-type(2) {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  height: 374px;
  margin: 48px 1rem;
  padding: 1rem;
}

main section:nth-of-type(2) article:first-of-type {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main section:nth-of-type(2) article:first-of-type h2 {
  padding: 40px 0 16px;
}

main section:nth-of-type(2) article:first-of-type p {
  padding: 0 20px;
  text-align: left;
}

main section:nth-of-type(2) article:last-of-type {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

main section:nth-of-type(2) article:last-of-type h2 {
  padding-bottom: 16px;
}

main section:nth-of-type(2) article:last-of-type p {
  padding: 0 40px 40px 60px;
  text-align: left;
}
/*End Second Section*/

/*Third Section*/
main section:last-of-type {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
}

/*Index Cards*/
.index-cards {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 324px;
  margin: 0;
  padding: 0;
  max-width: 377px;
  width: 100%;
}

.index-cards img,
.index-cards picture  {
  aspect-ratio: 755 / 484;
  height: auto;
  max-width: 377px;
  object-fit: cover;
  width: 100%;
}

.index-cards h3 {
  font-size: 1.7rem;
  font-weight: normal;
  margin: 5px 0;
}

.index-cards:first-of-type {
  grid-area: 1/1/2/2;
}

.index-cards:nth-of-type(2) {
  grid-area: 1/2/2/3;
}

.index-cards:last-of-type {
  grid-area: 1/3/2/4;
}
/*End Index Cards*/ 
/*End Third Section*/

/*Aside*/
aside {
  display: none;
}
/*End Aside*/

/*Media Queries*/
/*Tablet*/
@media screen and (max-width: 1024px) {
  /*Header*/
  header section {
    gap: 20px;
    padding: 15px 40px;
  }

  header p:first-of-type {
    font-size: 1.6rem;
    padding: 0 10px;
  }

  header button {
    height: 28px;
    width: 100px;
    font-size: 0.9rem;
  }

  header p:last-of-type {
    font-size: 1rem;
  }
  /*End Header*/

  /*Main*/
  main {
    margin: 40px auto;
    padding: 0 20px;
  }
  
  /*First Section*/
  main section:first-of-type {
    border-radius: 15px 15px 0 0;
    padding: 15px;
  }

  main section:first-of-type h2 {
    font-size: 2.2rem;
  }

  main section:first-of-type pre {
    font-size: 1.2rem;
  }
  /*End First Section*/

  /*Second Section*/
  main section:nth-of-type(2) {
    grid-template-columns: 1fr;
    padding: 15px;
    height: auto;
  }

  main section:nth-of-type(2) article {
    margin-bottom: 20px;
  }

  main section:nth-of-type(2) article h2 {
    font-size: 1.5rem;
  }

  main section:nth-of-type(2) article p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  /*End Second Section*/
  
  /*Third Section*/
  main section:last-of-type {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;

  }
  
  /*Index Cards*/
  .index-cards {
    height: 350px;
    margin: 0;
    width: 100%;
  }

  .index-cards img,
  .index-cards picture {
    max-width: 500px;
  }

  .index-cards:first-child {
    grid-area: 1/1/2/2;
  }

  .index-cards:nth-child(2) {
    grid-area: 1/2/2/3;
  }

  .index-cards:nth-child(3) {
    grid-area: 2/1/3/3;
    grid-column: span 2;
    justify-self: center;
  }
  /*End Index Cards*/
  /*End Third Section*/
}
/*End Tablet*/

/*Mobile*/
@media screen and (max-width: 807px) {
  /*Header*/
  header section {
    align-items: center;
    background-color: #f6f7f1;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 19px 62px;
  }

  header > section h2 {
    display: none;
  }

  header section div {
    gap: 10px;
  }

  header p:first-of-type {
    font-size: 24px;
    line-height: 28.8px;
    padding: 0;
    text-align: center;
  }

  header button {
    background-color: #1e1e1e;
    color: #fff;
    height: 30px;
    margin: 0;
    width: 127px;
  }

  header p:last-of-type {
    margin: 0;
    padding: 0;
  }
  /*End Header*/
  
  /*Main*/
  main {
    padding: 0 16px;
    margin: 24px auto;
  }
  
  /*First Section*/
  main section:first-of-type {
    border-radius: 20px 20px 5px 5px;
    height: 201px;
    padding: 10px;
    margin: 0;
  }

  main section:first-of-type h2 {
    font-size: 32px;
    line-height: 32px;
    padding-top: 0;
  }

  main section:first-of-type pre {
    font-size: 1rem;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  /*End First Section*/

  /*Second Section*/
  main section:nth-of-type(2) {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: minmax(386px, 1fr);
    grid-template-rows: auto auto;
    height: auto;
    margin: 24px 0;
    padding: 0;
    row-gap: 24px;
  }

  main section:nth-of-type(2) article:first-of-type {
    display: grid;
    gap: 16px;
    grid-area: 1/1/2/2;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    min-height: 210px;
    padding: 0 20px 10px;
  }

  main section:nth-of-type(2) article:first-of-type h2 {
    margin-top: 10px;
    min-height: 32px;
    padding: 0;
  }

  main section:nth-of-type(2) article:first-of-type p,
  main section:nth-of-type(2) article:last-of-type p {
    height: auto;
    padding: 0;
  }

  main section:nth-of-type(2) article:last-of-type {
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    min-height: 240px;
    padding: 0 20px 10px;
  }

  main section:nth-of-type(2) article:last-of-type h2 {
    justify-self: center;
    margin-top: 10px;
    min-height: 68px;
    padding: 0;
    width: 300px;
  }

  main section:nth-of-type(2) article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  main section:nth-of-type(2) article h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  main section:nth-of-type(2) article p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /*End Second Section*/

  /*Third Section*/
  main section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  /*Index Cards*/
  .index-cards {
    margin: 0 auto;
    max-width: 350px;
  }

  .index-cards img,
  .index-cards picture {
    height: 250px;
  }

  .index-cards h3 {
    font-size: 1.2rem;
    margin: 10px 0 0;
    font-weight: 700;
  }

  .index-cards p {
    font-size: 16px;
    line-height: 24px;
  }
  /*End Index Cards*/
  /*End Third Section*/

  /*Aside*/
  aside {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 125px;
    margin-top: 24px;
    padding: 16px 0;
  }

  aside button {
    align-self: center;
    background-color: #d9d9d9;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 34px;
    margin-top: 1.5rem;
    width: 121px;
  }
  /*End Aside*/
  /*End Main*/
}
/*End Mobile*/
/*End Media Queries*/
