/*Header*/
header section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto;
}

header > section h2 {
  align-self: center;
  font-size: 3.8rem;
  font-weight: 700;
  grid-area: 1/2/2/3;
  max-width: 500px;
  margin: 1.5rem 5rem 0;
  min-height: 288px;
  text-align: center;
  width: 100%;
}

header section div {
  display: grid;
  grid-area: 1/1/2/2;
  grid-template-columns: 33.125rem;
  grid-template-rows: auto auto;
  max-height: 288px;
  max-width: 382px;
  padding: 2.4375rem 4.625rem 2.75rem;
  width: 100%;
}

header p {
  align-self: center;
  font-size: 1.2rem;
  grid-area: 1/1/2/2;
  min-height: 156px;
  justify-self: center;
  padding-left: 10px;
  margin: 0 auto;
  max-width: 382px;
  text-align: left;
  width: 100%;
}

header button {
  align-self: start;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 1.1rem;
  grid-area: 2/1/3/2;
  height: 22px;
  justify-self: center;
  min-height: 32px;
  max-width: 196px;
  width: 100%;
}
/*End Header*/

/*Main*/
main {
  margin: 48px auto;
  max-width: 1232px;
  width: 100%;
}

/*First Section*/
main section:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 600px));
  grid-template-rows: minmax(0, 400px) minmax(0, 300px);
  margin: 0 1rem;
}

main section:first-of-type article:first-of-type,
main section:first-of-type article:nth-last-of-type(2),
main section:first-of-type article:last-of-type {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

main section:first-of-type article h2,
main section:first-of-type article p {
  text-align: left;
  max-width: 100%;
  width: 100%;
}

main section:first-of-type article p {
  font-size: 1rem;
  margin-bottom: 4rem;
}

main section:first-of-type article h2 {
  margin-bottom: 1rem;
}

main section:first-of-type article:first-of-type,
main section:first-of-type article:nth-last-of-type(2) {
  max-width: 600px;
  width: 100%;
}

main section:first-of-type article:first-of-type {
  border-radius: 20px 0 0 5px;
  grid-area: 1/1/2/2;
  height: 100%;
  max-height: 400px;
}

main section:first-of-type article:first-of-type h2 {
  margin-top: 4rem;
}

main section:first-of-type article:first-of-type p {
  padding-right: 2.5rem;
  max-width: 562px;
  width: 100%;
}

main section:first-of-type article:nth-last-of-type(2) {
  align-self: center;
  border-radius: 0 5px 5px 0;
  grid-area: 1/2/2/3;
  height: 100%;
  max-height: 280px;
}

main section:first-of-type article:last-of-type {
  border-radius: 0 5px 5px 5px;
  grid-area: 2/1/3/3;
  height: 100%;
  justify-self: center;
  max-height: 300px;
  max-width: 660px;
  width: 100%;
}

main section:first-of-type button {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 27px;
  width: 108px;
}
/*End First Section*/

/*Second Section*/
main section:nth-of-type(2) {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, minmax(0, 400px));
  grid-template-rows: auto;
  margin: 48px 1rem;
}

.prog-cards:first-of-type {
  grid-area: 1/1/2/2;
}

.prog-cards:nth-of-type(2) {
  grid-area: 1/2/2/3;
}

.prog-cards:last-of-type {
  grid-area: 1/3/2/4;
}

/*Program Cards*/
.prog-cards {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-self: center;
  min-height: 590px;
  max-width: 375px;
  padding: 36px 28px;
  width: 100%;
}

.prog-cards img {
  max-height: 225px;
  object-fit: fill;
}

.prog-cards img,
.prog-cards picture {
  display: block;
  height: 225px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.prog-cards h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.prog-cards h3 {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}

.prog-cards ul {
  line-height: 1.5rem;
  margin-bottom: 1.8rem;
}

.prog-cards ul li {
  list-style: none;
}

.prog-cards button {
  background: #d9d9d9;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  height: 38px;
  margin: 0 auto;
  max-width: 164px;
  width: 100%;
}
/*End Program Cards*/
/*End Second Section*/
/*End Main*/

/*Media Queries*/
/*Tablet*/
@media screen and (max-width: 1024px) {
  /*Header*/
  header section {
    margin: 0 1rem;
  }

  header > section h2 {
    font-size: 3.5rem;
    margin: 1.2rem 0 0;
    width: auto;
    max-width: 100%;
  }

  header p {
    font-size: 1.1rem;
    margin: 0;
    max-width: 300px;
    width: 100%;
  }

  header section div {
    grid-template-columns: 398px;
    justify-content: center;
  }
  /*End Header*/

  /*Second Section*/
  main section:nth-of-type(2) {
    column-gap: 0;
    row-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 400px));
    grid-template-rows: auto auto;
    justify-content: center;
  }
  /*End Second Section*/
  
  /*Program Cards*/
  .prog-cards {
    margin: 0 1rem;
    max-width: 398px;
  }

  .prog-cards:last-of-type {
    grid-area: 2/1/3/3;
    grid-column: span 2;
    justify-self: center;
  }
  /*End Program Cards*/
}
/*End Tablet*/

/*Mobile*/
@media screen and (max-width: 807px) {
  /*Header*/
  header section {
    color: #000;
    grid-template-columns: 398px;
    grid-template-rows: auto auto;
    height: 237px;
    gap: 16px;
    padding: 24px 16px 10px 16px;
  }

  header > section h2 {
    font-size: 2rem;
    grid-area: 1/1/2/2;
    min-height: 29px;
  }

   header > section h2 span {
    display: none;
  }

  header section div {
    grid-area: 2/1/3/2;
    padding: 0;
  }

  header p {
    padding: 0;
    min-height: 120px;
    max-width: 366px;
  }
  /*End Header*/

  /*Main*/
  main {
    margin: 24px auto;
  }

  /*First Section*/
  main section:first-of-type{
    gap: 24px;
    grid-template-columns: minmax(0, 750px);
    grid-template-rows: repeat(3, auto);
  }

  main section:first-of-type article:first-of-type,
  main section:first-of-type article:nth-last-of-type(2),
  main section:first-of-type article:last-of-type {
    border: none;
    border-radius: 5px;
    height: 280px;
    max-width: 750px;
    width: 100%;
  }

  main section:first-of-type article:first-of-type {
    grid-area: 1/1/2/2;
  }

  main section:first-of-type article:nth-last-of-type(2) {
    grid-area: 2/1/3/2;
  }

  main section:first-of-type article:last-of-type {
    grid-area: 3/1/4/2;
  }

  main section:nth-of-type(2) {
  gap: 24px;
  grid-template-columns: 398px;
  grid-template-rows: auto auto auto;
  margin: 24px 0 0;
  }

  main section:first-of-type article:first-of-type h2 {
    margin-top: 0;
  }

  main section:first-of-type article p {
    margin-bottom: 2rem;
  }

  main section:first-of-type article:first-of-type p {
    max-width: 100%;
    padding-right: 0;
  }
  /*End First Section*/

  /*Program Cards*/
  .prog-cards {
    align-items: center;
    border: none;
    margin: 0 1rem;
    max-width: 398px;
  }

  .prog-cards:first-of-type {
    grid-area: 1/1/2/2;
  }

  .prog-cards:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }

  .prog-cards:last-of-type {
    grid-area: 3/1/4/2;
  }
  /*End Program Cards*/
  /*End Main*/
}
/*End Mobile*/
